<!DOCTYPE html>
<html lang="en">

<head>

    
    <meta charset="UTF-8">

    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads/Home Page</title>

    <style>
        
    /* make the images in size that will fit in the table */
    .small-image {
        width: 50px;
        height: auto;
    }
    </style>

    <script>
    
        function toggleHighlight(leadId) {
            var row = document.getElementById("lead_" + leadId);
            
            if(row.style.backgroundColor === "yellow") {
                row.style.backgroundColor = ""; // reset the background color
            } else {
                row.style.backgroundColor = "yellow";
            }
        }
      
            
    </script>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    {% load static %}

    <div>
    <h2>Welcome {{user.username}}</h2>
    <h1>Leads</h1>
    </div>
    <!-- Leads Table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Name</th>
                <th>Phone number</th>
                <th>Event type and details</th>
                <th>Event date</th>
                <th>Date of creation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for lead in leads %}
            
            <tr id="lead_{{ lead.ID }}">
                <td><img src="{% static 'pics/' %}{{lead.image}}" alt="My image" class="small-image" /></td>
                <td>{{ lead.ID }}</td>
                <td>{{ lead.name }}</td>
                <td>{{ lead.phone_number }}</td>
                <td>{{ lead.event_type }}</td>
                <td>{{ lead.event_date }}</td>
                <td>{{ lead.date_of_creation }}</td>

                <td>
                    <img src="{% static 'pics/CROPED_DELETE.png' %}" alt="Delete" class="small-image" style="cursor:pointer" onclick="window.location.href='{% url 'delete_lead' lead.ID %}'">
                     <button class="btn" for="btn-check-4" onclick="toggleHighlight({{ lead.ID }})">Highlight</button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

    <!-- Footer -->
    

</body>

</html>
