<!DOCTYPE html>
<html lang="en">

<head>

    
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads</title>
  
    
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    {% load static %}

    <div>
    <h2>Welcome -- {{user.username}}</h2>
    <h1>Leads Table:</h1>
    </div>
    <!-- Leads Table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>ID</th>
                <th>Name</th>
                <th>Phone number</th>
                <th>Event type and details</th>
                <th>Event date</th>
                <th>Date of creation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lead in leads %}
            
            <tr id="lead_{{ lead.ID }}">
                <td><input type="checkbox" onchange="toggleHighlight(this, {{ lead.ID }})" title="Highlight"></td>
                <td><img src="{% static 'pics/' %}{{lead.image}}" alt="My image" class="small-image" /></td>
                <td>{{ lead.ID }}</td>
                <td>{{ lead.name }}</td>
                <td>{{ lead.phone_number }}</td>
                <td>{{ lead.event_type }}</td>
                <td>{{ lead.event_date }}</td>
                <td>{{ lead.date_of_creation }}</td>

                <td>
                    <img src="{% static 'pics/CROPED_DELETE.png' %}" alt="Delete" class="small-image" style="cursor:pointer" onclick="window.location.href='{% url 'delete_lead' lead.ID %}'">
                     {% comment %} <button class="btn" for="btn-check-4" onclick="toggleHighlight({{ lead.ID }})">Highlight</button> {% endcomment %}

                </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
  
    <script>

        function toggleHighlight(checkboxElem, leadId) {
            var row = document.getElementById("lead_" + leadId);
            if (checkboxElem.checked) {
                row.style.backgroundColor = "yellow";
            } else {
                row.style.backgroundColor = ""; // reset the background color
            }
            }

    </script>
  {% endblock %}
    

</body>

</html>
